@media only screen and (min-width: 570px){
    .navbar-brand img {
        margin-left: 155px;
    }
}

@media only screen and (max-width: 570px){
    .navbar-brand img {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 400px){
    .navbar-brand img {
        margin-left: 50px;
    }
}


@media only screen and (max-width: 700px){
    .bgimage-inside>h1 {
        /*font-size: 15px;*/
        left: 100px;
    }
}

@media only screen and (max-width: 500px){
    .bgimage-inside>h1 {
        left: 70px;
    }
}
@media only screen and (max-width: 460px){
    .bgimage-inside>h1 {
        left: 50px;
        font-size: 32px;
    }
}
@media only screen and (max-width: 460px){
    span.header-txt {
        left: 0px;
    }
}


@media only screen and (max-width: 700px){
    .btn-info {
        left: 270px;
    }
}


@media only screen and (max-width: 460px){
    .btn-info {
        left: 112px;
    }
}

@media only screen and (max-width: 700px){
    .sub-btn-txt {
        visibility: hidden;
    }
}
@media only screen and (max-width: 665px){
    .below-txt {
    font-size: 33px;
    }
}